.navbar.navbar-expand-md.navbar-dark.bg-dark
  %ul.navbar-nav.mr-auto
    %li.nav-item.active
      .nav-link LocationShare
  - if user_signed_in?
    %ul.navbar-nav.ml-auto
      %li.nav-item.active
        = link_to 'New Location', new_location_path, class: 'nav-link'
      %li.nav-item.active
        = link_to 'Home', user_path(current_user), class: 'nav-link'
      %li.nav-item.active
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
