// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-form {
  padding-left: 20px;
}

.title-location {
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid grey;
  text-transform: uppercase;
  width: 50%;
  margin-bottom: 20px;
}
