// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-location {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-user {
  text-transform: uppercase;
  cursor: pointer;
}

li {
  cursor: pointer;
}

.title-user {
  text-transform: uppercase;
  cursor: pointer;
}
